.OrederPlacedContent{
    margin: 180px;
}

.OrderPlacedCart{
    height: 135px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 20px;
}

.OrderedPlaceOk{
    display: flex;
    justify-content: end;
    padding: 20px;
    padding-top: 0;
}

.OkButton{
    background: white;
    color: #60b246;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.orderText{
    position: relative;
    top: 12%;
}